name: install-test

on:
  push:
  workflow_dispatch:
  pull_request:
    branches: master

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        ocaml-compiler:
          - 5.1.x
          - 4.13.x
    steps:
      - uses: actions/checkout@v4
      - uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - run: opam install . -t
      - run: opam install ocamlformat
      - run: opam exec -- dune fmt
